body {
    background: url(./assets/images/background.jpg);
    background-size: 100%;
    }

header {
    background-color: rgb(165, 59, 226);
    height: 85px;
}    

.logo {
    float: left;
    width: 250px;  
    padding-left: 50px;
}

.search-form {
    display: flex;
    justify-content: center;
    padding-top: 23px;
}

input {
    height: 40px;
    width: 380px;
    font-size: 20px;
}

input::placeholder {
    color: rgb(197, 107, 219);
    font-style: italic;
  }

.hide {
    visibility: hidden;
    position: absolute;
}
.show {
    visibility: visible;
}

.container {
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 22px;
}

.card {
    width: 280px;
    height: 280px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #f8caf2;
}

.card-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

li {
    list-style: none;
    text-align: center;
    padding: 2px 10px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
